---
layout: base.njk
permalink: /awareness/
title: Awarness
description: "Alle Infos zum Awarenesskonzept beim Wettkampf."
---

<section class="info-section">
  <div class="container">
    <div class="section-header">
      <h2>Awarness</h2>
    </div>
  </div>

  <div class="container container-md">
    <div class="action-panel">
      <a href="/awarenesskonzept.pdf" target="_blank" rel="noopener" class="btn btn-primary">🕊 Awarenesskonzept</a>
      <a href="/selbsterklaerung.pdf" target="_blank" rel="noopener" class="btn btn-primary">🖋 Selbsterklärung</a>
      <a href="mailto:mixitcup.orga@uni-muenster.de" class="btn btn-secondary">📧 Mail an Orga</a>
    </div>

    <div class="registration-steps">
      <div class="registration-step">
        <div>
          <h3>Erhalt der Selbsterklärung</h3>
          <p>Mit der Meldebestätigung erhalten die Ansprechpartner:innen das Awarenesskonzept und den Vordruck für die Selbsterklärung.</p>
        </div>
      </div>
      <div class="registration-step">
        <div>
          <h3>Awarenesskonzept lesen</h3>
          <p>Alle Teilnehmende lesen sich das Awarenesskonzept durch.</p>
        </div>
      </div>
      <div class="registration-step">
        <div>
          <h3>Selbsterklärung unterschreiben</h3>
          <p>Alle Teilnehmenden unterschreiben ein Exemplar der Selbsterklärung.</p>
        </div>
      </div>
      <div class="registration-step">
        <div>
          <h3>Gesammelt per Mail senden</h3>
          <p>Die Selbsterklärungen werden in eine Datei zusammengefasst und per Mail an die Orga gesendet.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>